# Ansible managed server lijst

<datatables page-length="100">
^ Naam ^ OS ^ Actieve Kernel ^ Domein ^
{% for host in groups['all']|sort %}
{%   set r_joined = hostvars[host]['realmd_is_joined'] | default(None) %}
{%   set r_name = hostvars[host]['realmd_name'] | default('N/A') %}
{%   set domain_status = 'N.v.t.' %}
{%   if r_joined is sameas true %}
{%     set domain_status = r_name %}
{%   elif r_joined is sameas false %}
{%     set domain_status = 'Nee' %}
{%   endif %}
| [[interne_it:serverlijst:{{ hostvars[host]['inventory_hostname'] }} | {{ hostvars[host]['inventory_hostname'] }}]] | {{ hostvars[host]['ansible_distribution'] | default('') }} {{ hostvars[host]['ansible_distribution_version'] | default('') }} | {{ hostvars[host]['ansible_kernel'] | default('N/A') }} | {{ domain_status }} |
{% endfor %}
</datatables>

----
Deze lijst is gegenereerd door: https://github.com/AnyLinQ-B-V/ansible-role-dokuwikicmdb