===== Serverdetails | {{ inventory_hostname }} =====
~~NOTOC~~

<grid>
<col sm="4">
=== Serveromschrijving ===
{% if server_description.content != '' %}
{{ server_description.content | b64decode }}
{% else %}
  * ''Deze wordt gelezen vanaf de server zelf in {{ dokuwiki_local_destination }}/description.txt''
{% endif %}
</col>


<col sm="8">
=== Servernotities ===
{% if server_notes.content != '' %}
{{ server_notes.content | b64decode }}
{% else %}
  * ''Deze wordt gelezen vanaf de server zelf in {{ dokuwiki_local_destination }}/.notes.txt''
{% endif %}
</col>
</grid>

<grid>
<col sm="4">
{% if ansible_virtualization_role != 'guest' %}
=== Hardware ===
| Hardware| {{ ansible_system_vendor }} {{ ansible_product_name }} ( {{ ansible_product_serial }} ) |
| CPU | {{ ansible_processor_count }} CPU x {{ ansible_processor_cores }} Cores |
{% else %}
=== Virtualization ===
| Virtual| {{ ansible_virtualization_type }} {{ ansible_virtualization_role }} |
| CPU | {{ ansible_processor_vcpus }} VPCU's |
{% endif %}
| RAM | {{ (ansible_memtotal_mb / 1024) | round(0) }} GB  ({{ ansible_memtotal_mb }} MB) |
| SWAP | {{ (ansible_swaptotal_mb / 1024) | round(0) }} GB ({{ ansible_swaptotal_mb }} MB) |
</col>

<col sm="4">
=== Besturingssysteem ===
| OS | {{ ansible_distribution }} {{ ansible_distribution_version }} ({{ ansible_architecture }}) |
| Kernel | {{ ansible_kernel }} |
| SELinux | {% if ansible_selinux and ansible_selinux.status is defined %}{{ ansible_selinux.status }}{% elif ansible_selinux == false %}Uitgeschakeld{% else %}Niet gedetecteerd{% endif %} |
| AppArmor | {% if ansible_apparmor and ansible_apparmor.status is defined %}{{ ansible_apparmor.status }}{% else %}Niet gedetecteerd{% endif %} |
</col>

<col sm="4">
=== Netwerk ===
| Hostnaam | {{ ansible_hostname }} |
| Domein | {{ ansible_domain }} |
| FQDN | {{ ansible_fqdn }} |
{% for ip in ansible_all_ipv4_addresses %}
| | {{ ip }} |
{% endfor %}
</col>
</grid>

<grid>
{% if check_zabbix | lower in ['true', 'yes'] %}
<col sm="4">
=== Zabbix Agent 2 ===
| Geïnstalleerd | {% if zabbix_agent_installed | default(false) %}Ja{% else %}<color red>Nee</color>{% endif %} |
{% if zabbix_agent_installed | default(false) %}
| Service Ingeschakeld | {% if zabbix_agent_enabled | default(false) %}Ja{% else %}Nee{% endif %} |
| Service Actief | {% if zabbix_agent_active | default(false) %}Ja{% else %}Nee{% endif %} |
| Configuratiebestand ({{ '/etc/zabbix/zabbix_agent2.conf' }}) | {% if zabbix_agent_conf_exists | default(false) %}Aanwezig{% else %}Ontbreekt{% endif %} |
{% endif %}
</col>
{% endif %}

{% if check_rsyslog | lower in ['true', 'yes'] %}
<col sm="4">
=== Logging Configuratie ===
| Systemd Journal doorsturen naar Syslog | {% if rsyslog_imjournal_conf_file_status | default('') | trim == "Yes" %}Ja{% else %}<color red>{{ rsyslog_imjournal_conf_file_status | default('Nee') | trim }}</color>{% endif %} |
| Rsyslog doorsturen naar Graylog | {% if graylog_configured_via_file | default(false) %}Ja{% else %}<color red>Nee</color>{% endif %} |
| Graylog Doel-IP | {{ graylog_target_ip_from_conf | default('N/A') }} |
</col>
{% endif %}

<col sm="4">
=== NTP Configuratie ===
| NTP Installed | {% if ntp_installed_package is defined and ntp_installed_package != 'none' and ntp_installed_package != '' %}{{ ntp_installed_package }}{% else %}<color red>Nee</color>{% endif %} |
| NTP Service Enabled | {{ ntp_service_enabled | default('N/A') }} ({{ ntp_enabled_service | default('') }}) |
| NTP Service Active | {{ ntp_service_active | default('N/A') }} ({{ ntp_active_service | default('') }}) |
| NTP Servers | {{ ntp_servers | default('N/A') }} |
</col>

{% if check_realmd | lower in ['true', 'yes'] %}
<col sm="4">
=== Domein Koppeling (realmd) ===
| Realmd Geïnstalleerd | {% if realmd_installed | default(false) %}Ja{% else %}<color red>Nee</color>{% endif %} |
{% if realmd_installed | default(false) %}
| Gekoppeld aan Domein | {% if realmd_is_joined | default(false) %}Ja{% else %}<color red>Nee</color>{% endif %} |
{%   if realmd_is_joined | default(false) %}
| Domein Naam | {{ realmd_name | default('N/A') }} |
| Domein Type | {{ realmd_type | default('N/A') }} |
| Configuratie Methode | {{ realmd_configured_method | default('N/A') }} |
| Login Formats | {{ realmd_login_formats | default('N/A') }} |
{%   else %}
| Status | <color red>{{ realmd_status_message | default('Niet gekoppeld of fout bij controle.') }}</color> |
{%   endif %}
{% elif realmd_status_message is defined and realmd_status_message != "Checking..." %}
| Status | <color red>{{ realmd_status_message }}</color> |
{% endif %}
</col>
{% endif %}
</grid>



----
=== Filesystem Mounts ===
^ Mount Point ^ Device ^ Type ^ Opties ^ Totale Grootte (GB) ^ Beschikbare Grootte (GB) ^ Gebruikt % ^
{% for mount in ansible_mounts %}
{%   set total_gb = (mount.size_total / (1024*1024*1024)) | round(2) %}
{%   set avail_gb = (mount.size_available / (1024*1024*1024)) | round(2) %}
{%   set used_percent = 0 %}
{%   if mount.size_total > 0 %}
{%     set used_percent = (((mount.size_total - mount.size_available) * 100) / mount.size_total) | round(1) %}
{%   endif %}
| {{ mount.mount }} | {{ mount.device }} | {{ mount.fstype }} | {{ mount.options }} | {{ total_gb }} | {{ avail_gb }} | {{ used_percent }}% |
{% endfor %}

//**Waarschuwing:** De hierboven weergegeven filesystem informatie is een indicatie van het moment waarop het Ansible-playbook is uitgevoerd ({{ ansible_date_time.iso8601 }}). Dit is geen real-time gegeven en dient daarom niet te worden gebruikt als kritieke informatie voor operationele beslissingen.//

----
==== Server Changelog ====
{{ server_changelog.content | b64decode }}

  * ''Deze wordt gelezen vanaf de server zelf in {{ dokuwiki_local_destination }}/changelog.txt''
